# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Build output
dist/
build-dir/
.flatpak-builder/
*.rpm
*.src.rpm

# ProofMark backups created by the updater
*.bak-*
*.new

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store
